<% layout("/layouts/boilerplate") %>
  <body>
    <h3>Listing Details :</h3>
    <ul>
      <li>Owner: <%= listing.owner.username %></li>
      <li><%= listing.title %></li>
      <li><%= listing.description %></li>
      <li><img src="<%= listing.image %>" alt="Listing Image" /></li>
      <li>&#8377; <%= listing.price.toLocaleString("en-IN") %></li>
      <li><%= listing.location %></li>
      <li><%= listing.country %></li>
    </ul>
    
    <br />
    <% if (currUser && listing.owner._id.equals(currUser._id)) { %>
    <div class="btns">
    <a href="/listings/<%= listing._id %>/edit" 
      class="btn btn-dark edit-btn">Edit this Listing</a>
    <br /><br />
    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
      <button class="btn btn-outline-dark">Delete this listing</button>
    </form>
    </div>
    <% } %>

    <div>
     <% if (currUser) { %>
      <hr />
      <h4>Leave a Review   </h4>
      <form action="/listings/<%= listing._id %>/reviews" method="POST"  class="needs-validation">
        
        <div class="mb-3 mt-3">
          <label for="rating" class="form-label">Rating:</label><br />
          <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range"  required/>
          </div>
        <div class="mb-3 mt-3">
          
          <label for="comment" class="form-label" >Comment: required</label><br />
          <textarea id="comment" name="review[comment]" rows="4" cols="50" class="form-control" required></textarea>
          <div class="invalid-feedback">Please enter a comment.</div>
        </div>
        <button type="submit" class="btn btn-outline-dark">Submit Review</button>
      </form>

    </div>
    <% } %>

    <hr />
    <h4>Reviews:</h4>
    <div class="row">
    <% for (review of listing.reviews) { %>
      <div class="card col-4 m-2" >
      <div class="card-body">
        <p class="card-text" ><%= review.comment %></p>
        <p class="card-text">Rating: <%= review.rating %> / 5</p>
        <form method="POST" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
      <button class="btn btn-outline-dark">Delete</button>
      </form>
      </div>
      
      </div>
    <% } %>


  </body>
